@font-face {
  font-family: "pt_serif";
  src: url('fonts/ptserif-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_regular";
  src: url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
