.wrapper {
  margin: auto;
}
body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hamburger-menu,
.menu__box {
  display: none;
}

.logo,
.menu {
  display: inline-block;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  padding: 40px 0 40px 44px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  background: top right no-repeat url(img/frame.svg);
}

.main__button {
  color: #fff;
  position: relative;
  margin: 0 auto;
  background: #0056ec;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5s;
}

.main__button:hover {
  animation: 0.1s tremor ease-out 6;
}

@keyframes tremor {
  0%,
  25% {
    left: -1px;
  }

  50%,
  100% {
    left: 1px;
  }
}

.main__title-text_highlight {
  background: #ecf3ff;
}

@media (max-width: 4000px) {
  .wrapper {
    width: 80%;
  }

  .header {
    margin-bottom: 132px;
  }

  .menu {
    margin-right: 13px;
  }

  .logo {
    font: normal 700 24px/31px "pt_serif", sans-serif;
  }

  .menu__item {
    font: normal 500 18px/29px "Roboto", sans-serif;
  }

  .main {
    padding: 0 63% 250px 0;
  }

  .main__title {
    font: normal 700 66px/87px "pt_serif", sans-serif;
    margin: 0 0 36px 0;
    padding-top: 76px;
  }

  .main__subtitle {
    font: normal 400 22px/26px "Roboto_regular", sans-serif;
    padding-right: 90px;
    margin: 0 0 59px 0;
  }

  .main__button {
    font: normal 18px/21px "Roboto", sans-serif;
    padding: 18px 40px 24px 21px;
  }
}

@media (max-width: 1919px) {
  .wrapper {
    width: 68%;
  }

  .header {
    margin-bottom: 83px;
  }

  .menu {
    margin-right: 5px;
  }

  .logo {
    font: normal 700 24px/32px "pt_serif", sans-serif;
  }

  .menu__item {
    font: normal 500 14px/16px "Roboto", sans-serif;
  }

  .main {
    padding: 0 53% 250px 0;
    background-size: 55%;
  }

  .main__title {
    font: normal 700 50px/66px "pt_serif", sans-serif;
    margin: 0 0 40px 0;
    padding-top: 17px;
  }

  .main__subtitle {
    font: normal 18px/21px "Roboto", sans-serif;
    padding-right: 90px;
    margin: 0 0 55px 0;
  }

  .main__button {
    font: normal 14px/16px "Roboto", sans-serif;
    padding: 14px 25px 13px 16px;
  }
}

@media (max-width: 1365px) {
  .wrapper {
    width: 91%;
  }

  .header {
    margin-bottom: 83px;
  }

  .menu {
    margin: 0;
  }

  .logo {
    font: normal 700 24px/32px "pt_serif", sans-serif;
  }

  .menu__item {
    font: normal 500 14px/17px "Roboto", sans-serif;
  }

  .main {
    padding: 0 53% 250px 0;
    background-size: 55%;
  }

  .main__title {
    font: normal 700 50px/66px "pt_serif", sans-serif;
    margin: 0 0 40px 0;
    padding-top: 17px;
  }

  .main__subtitle {
    font: normal 18px/21px "Roboto", sans-serif;
    padding-right: 90px;
    margin: 0 0 55px 0;
  }

  .main__button {
    font: normal 14px/17px "Roboto", sans-serif;
    padding: 14px 25px 13px 16px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 87%;
  }

  .header {
    height: 59px;
    margin-bottom: 28px;
  }

  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .logo {
    visibility: hidden;
    display: inline-block;
    font: normal 700 24px/31px "pt_serif", sans-serif;
  }

  .logo__circle {
    visibility: visible;
  }

  .logo__circle_color_blue {
    visibility: visible;
  }

  .logo__circle_color_dark-blue {
    visibility: visible;
  }

  .main {
    padding: 80% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: top center no-repeat url(img/frame.svg);
    background-size: 86%;
  }

  .main__title {
    font: normal 700 30px/40px "pt_serif", sans-serif;
    text-align: center;
    margin: 0 0 33px 0;
    padding: 0;
  }

  .main__subtitle {
    font: normal 16px/19px "Roboto", sans-serif;
    text-align: center;
    width: 75%;
    padding: 0;
    margin: 0 0 25px 0;
  }

  .main__button {
    font: normal 14px/16px "Roboto", sans-serif;
    text-align: center;
    padding: 14px 25px 13px 16px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 32px;
    right: 24px;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
    transition: 0.5s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 186px 0 0 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    transition: 0.5s;
  }

  .menu__mobil {
    display: block;
    padding: 0 0 24px 0;
    color: #000;
    font: normal 30px/36px "Roboto", sans-serif;
    text-decoration: none;
    transition: 0.5s;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    opacity: 1;
    left: 0;
  }
}

/*Создание анимации*/

@keyframes move {
  0% {
    transform: translateX(0%);
    opacity: 25%;
  }
  100% {
    transform: translateX(100%);
    opacity: 100%;
  }
}

/*Добавление анимации к элементу*/

.element {
  display: block;
  height: 200px;
  width: 200px;
  opacity: 30%;
  background-color: orange;
  animation-name: move;
  animation-duration: 1.7s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
